/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

  display: flex;
	align-items: center;
	justify-content: center;
  background: #fdf6e3;
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #000000;
}

p {
  margin: 0px;
  padding: 10px;
  font: 20px 'Voltaire', sans-serif;
  color: #fdf6e3;
  text-align: left;
}

h1, h2 {
  margin: 0;
  padding: 10px;
  font: 72px 'Wire One', sans-serif;
  color: #fdf6e3;
  text-align: center;
}

h2 {
  font-size: 48px;
}

/* -----------------------------------*/
/* ----------->>> MOBILE <<<----------*/
/* -----------------------------------*/
.desktop-only {
  display: none;
}

.mobile-box {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #fdf6e3;
}

.m-background {
  padding-bottom: 20vh;
  width: 100vw;
  background-color: #25BCED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  border: none;
}

.m1 {
  width: 96vw;
  background: #17BCF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
}

.m2 {
  width: 92vw;
  background: #F33A76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.m3 {
  width: 88vw;
  background: #975DAD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.m4 {
  width: 84vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #59C9A5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}


.m4 input[type="text"],
.m4 input[type="email"],
.m4 textarea {
  padding: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  font: 1em 'Voltaire', Arial, Helvetica, sans-serif;
  font-color: #002b36;
  opacity: 0.9;
  border: 2px solid #d33682;
  background: #FDF6E3;
  transition: all 0.30s ease-in-out;
}

.m4 textarea {
  min-height: 40vh;
}

.m4 input[type="text"]:focus,
.m4 input[type="email"]:focus,
.m4 textarea:focus {
  box-shadow: 0 0 5px #43D1AF;
  border: 2px solid #43D1AF;
}

.m4 input[type="submit"],
.m4 input[type="button"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8em;
  border: none;
  font: 20px 'Voltaire', Arial, Helvetica, sans-serif;
  color: #FDF6E3;
  background: #A6FD1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 130px #7A56CB;
}

.m4 input[type="submit"]:hover,
.m4 input[type="button"]:hover {
  background: #F12B18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 120px #1FA0C9;
}

/* -----------------------------------*/
/* -------->>> RESPONSIVE <<<---------*/
/* -----------------------------------*/
/* desktop viewport */
@media all and (min-width: 768px) {
  .mobile-only {
		display: none;
	}
  
  .desktop-only {
    display: block;
  }

  p {
/*     display: none; */
    padding: 20px;
    visibility: hidden;
  }
  
  article {
    visibility: hidden;
  }
  
  h1, h2 {
    padding: 5px;
    color: #fdf6e3;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  }

  h2 {
    padding: 5px;
    padding-left: 10px;
    font-size: 36px;
    text-align: left;
  }
/* -----------------------------------*/
/* ---------->>> DESKTOP <<<----------*/
/* -----------------------------------*/
  .desktop-box {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
    overflow: hidden;
  }
  
  .desktop-box-background {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1D6F89;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #000000;
    border: none;
    cursor: auto;
    transition: none;
  }
  
  .d1 {
    max-width:1024px;
    width: 90vw;
    height: 78vh;
    background: #56CCF2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  }
  
  .d2 {
    max-width: 824px;
    width: 80vw;
    height: 68vh;
    background: #8559AD;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }
  
  .d3 {
    max-width: 624px;
    width: 70vw;
    height: 58vh;
    background: #F33A76;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }
  
  .d4 {
    max-width: 424px;
    width: 60vw;
    height: 48vh;
    background: #3AF3DD;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }
  
/* -----------------------------------*/
/* ------------>>> TITLE <<<----------*/
/* -----------------------------------*/
  .title {
    height: 1rm;
    line-height:1rm;
    padding-bottom: 1rm;
/*     border-bottom: 2px solid #fdf6e3; */
  }
  
/* -----------------------------------*/
/* ---------->>> CONTENT <<<----------*/
/* -----------------------------------*/
  #testing {
    position: relative;
    line-height:1rm;
    height: 80%;
    display: none;
    overflow: auto;
  }
  
  #ds-test {
    display: none;
  }
/* -----------------------------------*/
/* -------->>> LABEL-BUTTON <<<-------*/
/* -----------------------------------*/
  .box-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
    cursor: pointer;
    user-select: none;
  }
  
/* -----------------------------------*/
/* ----------->>> BUTTON <<<----------*/
/* -----------------------------------*/
  .box-button {
    display: none;
  }
  
  #button-d1:checked ~ .d1 p {
    visibility: visible;
  }
  
  #button-d1:checked ~ .d2 {
    display: none;
  }
  
  #button-d1:checked ~ .d3 {
    display: none;
  }
  
  #button-d1:checked ~ .d4 {
    display: none;
  }
  
/* -------->>> button-d2 <<<----------*/
  #button-d2:checked ~ .d2 p {
    display: block;
  }
  
  #button-d2:checked ~ .d3 {
    display: none;
  }
  
  #button-d2:checked ~ .d4 {
    display: none;
  }
  
/* -------->>> button-d3 <<<----------*/
  #button-d3:checked ~ .d3 p {
    display: block;
  }
  
  #button-d3:checked ~ .d4 {
    display: none;
  }
  
/* -------->>> button-d4 <<<----------*/
  #button-d4:checked ~ .d4 p {
    display: block;
    overflow: auto;
  }
  
/* -----------------------------------*/
/* ------------>>> HOVER <<<----------*/
/* -----------------------------------*/
  .d1:hover {
    max-width:1044px;
    width: 94vw;
    height: 82vh;
    background: #56CCF2;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  }
  
  .d1:hover ~ .d2 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }
  
  .d2:hover {
    max-width:844px;
    width: 84vw;
    height: 72vh;
    background: #8559AD;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }
  
  .d2:hover ~ .d3 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }
  
  .d3:hover {
    max-width:644px;
    width: 74vw;
    height: 62vh;
    background: #F33A76;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }
  
  .d3:hover ~ .d4 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }

  .d4:hover {
    max-width:444px;
    width: 64vw;
    height: 52vh;
    background: #3AF3DD;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }
}
