/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf6e3;
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #000000;
}

p {
  margin: 0px;
  padding: 10px;
  font: 20px 'Voltaire', sans-serif;
  color: #fdf6e3;
  text-align: left;
}

h1, h2 {
  margin: 0;
  padding: 10px;
  font: 72px 'Wire One', sans-serif;
  color: #fdf6e3;
  text-align: center;
}

h2 {
  font-size: 48px;
}

/* -----------------------------------*/
/* ----------->>> MOBILE <<<----------*/
/* -----------------------------------*/
.desktop-only {
  display: none;
}

.mobile-box {
  margin: 0 auto;
  padding-bottom: 20px;
  height: auto;
  box-sizing: border-box;
  /*   border: 2px solid #fdf6e3; */
}

.m-background {
  padding-bottom: 10vh;
  width: 100vw;
  background-color: #25BCED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  border: none;
}

#solver {
  color: #000;
}

.mobile-socials {
  display: flex;
  margin: 0 auto;
  item-align: center;
  color: #fdf6e3;
}

a {
  margin: 0 auto;
}

.fa {
  margin: 0 auto;
  color: #fdf6e3;
}

.m1 {
  width: 97vw;
  background: #17BCF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
}

.m2 {
  width: 94vw;
  background: #F33A76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.m3 {
  width: 91vw;
  background: #975DAD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #3E3F57;
}

.m4 {
  width: 88vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #59C9A5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}


.m4 input[type="text"],
.m4 input[type="email"],
.m4 textarea {
  -webkit-appearance: none;
  padding: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  font: 1em 'Voltaire', Arial, Helvetica, sans-serif;
  /*   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); */
  font-color: #002b36;
  opacity: 0.9;
  border: 2px solid #d33682;
  border: none;
  background: #FDF6E3;
  transition: all 0.30s ease-in-out;
}

.m4 textarea {
  min-height: 40vh;
}

.m4 input[type="text"]:focus,
.m4 input[type="email"]:focus,
.m4 textarea:focus {
  box-shadow: 0 0 5px #43D1AF;
  border: 2px solid #43D1AF;
  border: none;
}

.m4 input[type="submit"],
.m4 input[type="button"] {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  border: none;
  font: 36px 'Wire One', Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #FDF6E3;
  background: #A6FD1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 130px #7A56CB;
}

.m4 input[type="submit"]:hover,
.m4 input[type="button"]:hover {
  background: #F12B18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 120px #1FA0C9;
}

/* -----------------------------------*/
/* -------->>> RESPONSIVE <<<---------*/
/* -----------------------------------*/
/* desktop viewport */
@media all and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  p {
    padding: 20px;
    padding-bottom: 4px;
  }

  h1, h2 {
    padding: 5px;
    color: #fdf6e3;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  }

  h2 {
    padding: 5px;
    font-size: 36px;
    text-align: left;
  }

  article {
    display: none;
  }

  article h2 {
    text-align: center;
  }
  /* -----------------------------------*/
  /* ---------->>> DESKTOP <<<----------*/
  /* -----------------------------------*/
  .desktop-box {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
    overflow: auto;
  }

  .desktop-box-background {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1D6F89;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #000000;
    border: none;
    cursor: auto;
    transition: none;
  }

  header, footer {
    margin: 0;
    padding: 0 auto;
    width: 100%;
    position: absolute;     
  }

  header {       
    top: 0;
  }

  footer {      
    bottom: 0;
  }

  form {
    text-align : center;
    margin: 0 auto;
    padding: 20px;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0 auto;
    top:50px;
    bottom: 50px;
    overflow: auto;
    box-sizing: border-box;
    /*     border-top: 2px solid #fff; */
  }

  .d1 {
    max-width:1024px;
    width: 90vw;
    height: 78vh;
    background: #56CCF2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  }

  .d2 {
    max-width: 824px;
    width: 80vw;
    height: 68vh;
    background: #8559AD;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }

  .d3 {
    max-width: 624px;
    width: 70vw;
    height: 58vh;
    background: #F33A76;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }

  .d4 {
    max-width: 424px;
    width: 60vw;
    height: 48vh;
    background: #3AC6F3;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), inset 50px 50px 200px #828282;
  }

  .m-c-d2 {
    padding: 40px;
  }

  #intro {
    text-shadow: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* -----------------------------------*/
  /* -------->>> FORM Desktop <<<-------*/
  /* -----------------------------------*/
  .d3 input[type="text"],
  .d3 input[type="email"],
  .d3 textarea {
    -webkit-appearance: none;
    padding: 1vh;
    margin-bottom: 0.5vh;
    width: 100%;
    align-terms: center;
    outline: none;
    box-sizing: border-box;
    font: 1em 'Voltaire', Arial, Helvetica, sans-serif;
    /*   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); */
    font-color: #002b36;
    opacity: 0.9;
    border: 2px solid #d33682;
    border: none;
    background: #FDF6E3;
    transition: all 0.30s ease-in-out;
  }

  .d3 textarea {
    min-height: 12vh;
  }

  .d3 input[type="text"]:focus,
  .d3 input[type="email"]:focus,
  .d3 textarea:focus {
    box-shadow: 0 0 5px #43D1AF;
    border: 2px solid #43D1AF;
    border: none;
  }

  .d3 input[type="submit"],
  .d3 input[type="button"] {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
    border: none;
    font: 36px 'Wire One', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #FDF6E3;
    background: #A6FD1F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 130px #7A56CB;
  }

  .d3 input[type="submit"]:hover,
  .d3 input[type="button"]:hover {
    background: #F12B18;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 120px #1FA0C9;
  }


  /* -----------------------------------*/
  /* -------->>> LABEL-BUTTON <<<-------*/
  /* -----------------------------------*/
  .box-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
    cursor: pointer;
    user-select: none;
  }

  /* -----------------------------------*/
  /* ----------->>> BUTTON <<<----------*/
  /* -----------------------------------*/
  .box-button {
    display: none;
  }

  #button-d1:checked ~ .d1 article {
    display: block;
  }

  #button-d1:checked ~ .d1 #d1-nav-title {
    display: none;
  }

  #button-d1:checked ~ .d2 {
    display: none;
  }

  #button-d1:checked ~ .d3 {
    display: none;
  }

  #button-d1:checked ~ .d4 {
    display: none;
  }

  /* -------->>> button-d2 <<<----------*/
  #button-d2:checked ~ .d2 article {
    display: block;
  }

  #button-d2:checked ~ .d2 #d2-nav-title {
    display: none;
  }

  #button-d2:checked ~ .d3 {
    display: none;
  }

  #button-d2:checked ~ .d4 {
    display: none;
  }

  /* -------->>> button-d3 <<<----------*/
  #button-d3:checked ~ .d3 article {
    display: block;
  }

  #button-d3:checked ~ .d3 #d3-nav-title {
    display: none;
  }

  #button-d3:checked ~ .d4 {
    display: none;
  }

  /* -------->>> button-d4 <<<----------*/
  #button-d4:checked ~ .d4 article {
    display: block;
  }

  #button-d4:checked ~ .d4 #d4-nav-title {
    display: none;
  }

  /* -----------------------------------*/
  /* ------------>>> HOVER <<<----------*/
  /* -----------------------------------*/
  .d1:hover {
    max-width:1044px;
    width: 94vw;
    height: 82vh;
    background: #56CCF2;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
  }

  .d1:hover ~ .d2 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }

  .d2:hover {
    max-width:844px;
    width: 84vw;
    height: 72vh;
    background: #8559AD;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #3E3F57;
  }

  .d2:hover ~ .d3 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }

  .d3:hover {
    max-width:644px;
    width: 74vw;
    height: 62vh;
    background: #F33A76;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
  }

  .d3:hover ~ .d4 {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 50px 50px 200px #828282;
  }

  .d4:hover {
    max-width:444px;
    width: 64vw;
    height: 52vh;
    background: #3AC6F3;
    background: #3AC6F3;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25), inset 50px 50px 200px #828282;
  }

  #close-d1:hover {
    color: black;
  }

  #close-d2:hover {
    color: black;
  }

  #close-d3:hover {
    color: black;
  }

  #close-d4:hover {
    color: black;
  }
}
