body {
  max-width: 1024;
  position: absolute;
  width: 1024;
  height: auto;
  left: 0px;
  top: 0px;

  background: #1D6F89;
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.25), inset 30px 30px 200px #000000;
}

.box-1 {
  /* Rectangle 2 */

  position: absolute;
  width: 320px;
  height: 568px;
  left: 0px;
  top: 0px;

  background: #56CCF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
}

.box-2 {
  /* Rectangle 2 */

  position: absolute;
  width: 260px;
  height: 440px;
  left: 30px;
  top: 64px;

  background: #3AC6F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.box-3 {
  /* Rectangle 2 */

  position: absolute;
  width: 200px;
  height: 320px;
  left: 60px;
  top: 124px;

  background: #F33A76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.box-4 {
  /* Rectangle 2 */

  position: absolute;
  width: 140px;
  height: 200px;
  left: 90px;
  top: 184px;

  background: #3AF3DD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.box-4:hover {
  /* Rectangle 2 */

  position: absolute;
  width: 260px;
  height: 440px;
  left: 30px;
  top: 64px;

  background: #3AC6F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #828282;
}

.box-5 {
  /* Rectangle 2 */

  position: absolute;
  width: 80px;
  height: 80px;
  left: 120px;
  top: 244px;

  background: #F5FF00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;

  /* transition: all 60s; */
  /* animation-name: a1; */
  /* animation-direction: alternate; */
  /* animation-duration: 1000ms; */
  /* animation-iteration-count: infinite; */
}

.box-5:hover {
  /* position: absolute; */
  /* width: 260px; */
  /* height: 440px; */
  /* left: 30px; */
  /* top: 64px; */

  position: absolute;
  width: 300px;
  height: 80px;
  left: 10px;
  top: 244px;

  background: #F5FF00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED;
}

/* @keyframes a1 { */
/*   100% { */
/*     position: absolute; */
/*     width: 260px; */
/*     height: 440px; */
/*     left: 30px; */
/*     top: 64px; */
/*  */
/*     /* position: absolute; */ */
/*     /* width: 300px; */ */
/*     /* height: 80px; */ */
/*     /* left: 10px; */ */
/*     /* top: 244px; */ */
/*  */
/*     background: #F5FF00; */
/*     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED; */
/*   } */
/* } */

/* .box-5-expand { */
/*   position: absolute; */
/*   width: 300px; */
/*   height: 80px; */
/*   left: 10px; */
/*   top: 244px; */
/*  */
/*   background: #F5FF00; */
/*   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 30px 30px 100px #2F80ED; */
/*  */
/* } */

/* .container:hover .back{ */
/*     -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); */
/*     transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); */
/*     -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); */
/*     transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); */
/*     transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); */
/*   } */
